body {
    margin: 0;
    padding: 0;
}

.avisop {
    padding: 10px;
    text-align: center;
    color: #4f2b07;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh auto;
    margin: 0;
    background-image: url(./bannertecido.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.span1 {
    text-align: center;
    color: #754515;
}

h1 {
    margin: 0;
    font-family: "Press Start 2P", serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    color: #a15d1b;
    font-size: 4rem;
    text-shadow: #754515 0px 2px 1px 0px;
}

h3 {
    line-height: 0;
    color: #a15d1b;
    font-family: sans-serif, arial;
    font-weight: 500;
}

.slogan {
    font-size: 1.1rem;
    color: #754515;
    font-family: Arial, sans-serif;
    font-weight: normal;
    margin-top: 0.5rem;
    text-align: center;
}


.link {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a15d1b;
    color: white;
    font-size: 1.1rem;
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-weight: bold;
    transition: .4s;
    box-shadow: #252525 0px 1px 1px 0px;
    text-decoration: none; 
    outline: none;          
}

.link:hover {
    background-color: #fff;
    color: #a15d1b;
    transition: .4s;
}

.link-fale:hover {
    background-color: #a15d1b;
    color: #fff;
    transition: .4s;
}

.link-fale {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #a15d1b;
    font-size: 1.1rem;
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-weight: bold;
    box-shadow: #252525 0px 1px 1px 0px;
}

.social {
    margin-bottom: 5rem;
}

.icionsocial {
    width: 2rem;
    transition: transform 0.4s;
    display: inline-block;
}

.icionsocial:hover {
    transform: scale(1.2);
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 65%;
    gap: 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 3rem;
    overflow: hidden;
}

.card {
    flex: 1 1 calc(25% - 10px);
    max-width: calc(25% - 10px);
    height: 15rem;
    background: #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.rotulo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    background: white;
    padding: .5rem;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 600px;
}

.card:hover {
    box-shadow: #edd568 0px 0px 2px 1px;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 100%;
    height: 700px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.close-button {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    background: #a15d1b;
    color: white;
    border: none;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    border: #ffffff 4px solid;
    transition: .4s;
    font-family: arial;
}

.close-button:hover {
    background: red;
    transform: scale(1.4);
    transition: .4s;
}

/* GALERIA */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.4s;
}

.image-gallery img:hover {
    transform: scale(1.05);
}

.popup .photo.selected {
    border: 3px solid #a15d1b;
    transform: scale(1.05);
    transition: transform 0.2s ease, border 0.2s ease;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    font-family: arial;
    font-size: 1.3rem;
    line-height: 0;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        text-align: center;
    }

    .rotulo {
        width: auto;
        text-shadow: #252525 1px 0px 1px;
        display: flex;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .rotulo {
        width: 100%;
        position: relative;
        padding: 1px;
        border-radius: 0;
    }

    .card img {
        height: 13rem;
    }

    .card {
        overflow: visible;
    }
}

@media (max-width: 480px) {
    .popup-content {
        width: 85%;
    }

    .card-container {
        width: 80%;
    }

    .iconCamera {
        width: 5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .card {
        flex: 1 1 100%;
        max-width: calc(50% - 10px);
        padding: 0;
        overflow: visible;
    }

    .card img {
        height: 13rem;
    }

    .rotulo {
        width: 100%;
        position: relative;
        text-shadow: #252525 1px 0px 1px;
        display: flex;
        text-align: center;
    }
}

/* WHATSAPP */
.whatsapp-btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.whatsapp-btn {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.whatsapp-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
